# Github configuration
.github/

# Build artifacts (we use mounted cache for this purpose)
target

# Git stuff
.git/
.gitignore

# We don't need docker configs inside docker
Dockerfile
docker-compose.yml

# Unnecessary documentation
LICENSE
README.md
